.content {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom:1%;
    border-radius: 25px;
}

.page {
    background-color: rgb(79, 120, 81);
}
nav {
    background-color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 1%;
    margin-bottom: 2%;
    border-radius: 25px;
    margin-left: 5%;
    margin-right: 5%;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}
nav a {
    color:#000;
    text-decoration: none;
}
nav a:hover {
    color:#aeaeae
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100;
    text-align: center;
    color: #fff;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

figure {
    object-fit: scale-down;
    max-width: 100%;
    max-height: 100%;
    font-size: 30;
    text-align: center;
}

.bold {
    font-weight: 700;
}

img {
    object-fit:contain;
    width: 100%;
    max-width: 75%;
}


aside {
    border-radius: 25px;
    margin-left: 60%;
    width: 40%;
    padding: 2%;
    margin-left: .5rem;
    float: right;
    background-color: rgb(221, 221, 221);
    font-weight: 700;
    color: #000000;
}
