.content{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom:1%;
   
}

.page{
    background-color: rgb(79, 120, 81);
}
nav{
    background-color: aliceblue;
    text-align: center;
    padding-bottom: 1%;
    margin-bottom: 3%;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100;
    text-align: center;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

figure{
    object-fit: scale-down;
    max-width: 100%;
    max-height: 100%;
    font-size: 30;
    text-align: center;
}


.bold{
    font-weight: 700;
}


aside{
    margin-left: 60%;
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    background-color: rgb(164, 164, 164);
    box-shadow: inset 5px 0 5px -5px #2594cc;
    font-weight: 700;
    color: #000000;
    padding-top: 15px;
}
